* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #1B2333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav > a, 
nav > a:visited {
  text-decoration: none;
  color:  #EAEEE9;
  padding: 3% 1%;
}

header {
  padding: 12% 0;
  background-color: #EAEEE9;
}

header > p {
  padding: 0 6%;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #EAEEE9;
  color: #1B2333;
}

section:nth-child(even) {
  background-color: #4C9AAB;
  color: #EAEEE9;
}

.about-me {
  padding: 0 6%;
  text-align: left;
}

article > p {
  margin: 6% 0;
}

article > a {
  color: #916167;
  margin: 3%;
}

.tech {
  text-align: right;
  font-style: italic;
}

h2, h3 {
  margin: 3%;
}

article {
  width: 100%;
  padding: 6% 0;
}

article > p {
  padding: 0 6%;
  text-align: left;
}

#contact {
  padding: 1% 0;
  min-height: 140px;
}

.contact-flex {
  display: flex;
  justify-content: space-evenly;
}

.contact-flex > a
{
  color: #1B2333;
}

@media only screen and (min-width: 700px) {
  nav {
    display: block;
    text-align: right;
    padding: 1% 0;
  }
  nav > a:hover {
    text-decoration: underline;
  }
  .about-me {
    padding: 0 18%;
  }
  article {
    width: 50%;
    padding: 0 3%;
  }
  .projects {
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
  }
  #contact {
    padding-bottom: 3%;
    justify-content: center;
  }
  #contact > h2 {
    margin: 2%;
  }
};